<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring2_MVC:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring2_MVC_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="MKYONG EXAMPLE/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MKYONG EXAMPLE" />
        </element>
      </element>
    </root>
  </artifact>
</component>